@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}


.home {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: auto;
    
}

.homeTop {
    display: flex;
    justify-content: space-between;
}

.addBtn {
    padding: 5px 40px;
    border: 1px solid skyblue;
    background-color: transparent;
    text-decoration: none;
    color: rgb(25, 80, 101);
}

.tableContainer {
    padding: 5px 0;
}


table {
    width: 100%;
}

thead {
    border: 1px solid black;
    background: grey;
    height: 30px;
}

th {
    text-align: center;
    white-space: nowrap;
    padding: 0 5px;
    
}

tbody {
    font-size: .9rem;

}

.rowData {
   height: 30px;
}

td{
    text-align: center;
    white-space: nowrap;
    padding: 0 5px;
}

.btn {
    border: none;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 0;
}

.editBtn:hover {
    color: blue;
    
}

.deleteBtn:hover {
    color: red;
}

span {
    margin: 0 4px;
}




@media  screen and (max-width: 840px){
    
.home {   
    padding: 30px;   
}

.tableContainer {
    overflow-x: auto; 
}

 th {
    font-size: .9rem; 
}
}




@media  screen and (max-width: 420px){
    .home {
        padding: 20px;
    }

    td {
        font-size: .8rem;
    }
   
    }
    
