@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}


.home {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    

    div {
        display: flex;
        justify-content: space-between;

        button {
            padding: 5px 40px;
            border: 1px solid skyblue;
            background-color: transparent;
        }
        
    }

    table {
        width: 100%;

        thead {
            border: 1px solid black;
            background: grey;
            height: 30px;

            tr {
              
                th {
                    text-align: center;
                    
                }
            }
        }

        tbody {
            font-size: .9rem;
            

            tr{
                height: 25px;

                td{
                    text-align: center;

                    button {
                        border: none;
                        background-color: transparent;
                        font-family: 'Montserrat', sans-serif;
                        cursor: pointer;
                    }

                    .edit:hover {
                        color: green;
                    }

                    .delete:hover {
                        color: red;
                    }

                    span {
                        margin: 0 4px;
                    }
                    
                }
                
            }

        }
    }
}